 <div class="headrow">
        @*<button type="button" title="Add New SalaryPF" data-url="/Payroll/SalaryPF/Create" onclick="GoTo(this)" id="" class="sym-btn-add ">&nbsp;New</button>*@
        @*<button type="button" title="Delete SalaryPF" data-url="/Payroll/SalaryPF/SalaryPFDelete"  onclick="deletedData(this, 'myDataTable');" id="" class="sym-btn-remove">&nbsp;Delete</button>*@
   <button type="button" title=" Import/Export" id="" class="sym-btn-ExportImport" data-url="/Payroll/SalaryPF/ImportPF" onclick="GoTo(this)" >&nbsp;Import/Export</button>
 <label class="pull-right">Salary Provident Fund</label>
</div>
<div class="thinbox">
    <div class="th_thinbox">
        <p>Salary PF List</p>
    </div>
    <div>
                <div  id="container">
            <div id="demo">
                <table id="myDataTable" class="display">
                    <thead>
                        <tr>
                            <th class="center">Action</th>
                            <th>Period Name</th>
                            <th>Remarks</th>
                        </tr>
                    </thead>
                    <tbody> 
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br />
</div>
@*<div class="headrow">
        <button type="button" title="Add New SalaryPF" data-url="/Payroll/SalaryPF/Create" onclick="GoTo(this)" id="" class="sym-btn-add ">&nbsp;New</button>
        <button type="button" title="Delete SalaryPF" data-url="/Payroll/SalaryPF/SalaryPFDelete"  onclick="deletedData(this, 'myDataTable');" id="" class="sym-btn-remove">&nbsp;Delete</button>
    </div>*@
<script>
    $(function () {
        SelectAllForDelete();
        var oTable = $('#myDataTable').dataTable({
            "bServerSide": true,
            "sAjaxSource": "/Payroll/SalaryPF/_SalaryPF",
            "bProcessing": true,
            "aLengthMenu": tablelength(),
            "bJqueryUI": true,
            "bAutoWidth": false,
            "aoColumns": [
                              {
                                  "sName": "ID",
                                  "bSearchable": false,
                                  "bSortable": false,
                                  "sWidth": "12%",
                                  "sClass": "center",
                                  "fnRender": function (oObj) {
                                      return '<a title="Click on for Details"  id="" class="innerListLink sym-btn-detail-row" style="text-decoration:none;" href=\"/Payroll/SalaryPF/Edit?FId=' + oObj.aData[0] + '\"></a>'
                                          //+ '&nbsp; <a title="Click on for Delete"  data-url="/Payroll/SalaryPF/SalaryPFDelete" onclick="deletedData(this, myDataTable,\'' + oObj.aData[0] + '\');"  class="sym-btn-remove-row"></a>'
                                      ;
                                  }
                              }
                              , { "sName": "PeriodName" }
                              , { "sName": "Remarks" }
            ]
        });
    });
    </script>