@model SymViewModel.HRM.EmployeeInfoVM
@using UIHelper.MVC

@using SymOrdinary
@using System.Threading;
@{ 
    ShampanIdentity identity = null;
    try
    {
        identity = (ShampanIdentity)Thread.CurrentPrincipal.Identity;
    }
    catch (Exception)
    {
        Response.Redirect("/Home/Index");
        return;
    }
}

@{
    ViewBag.Title = "SingleEmployeeSalary";
}
<style>
    .text-color {
       margin:auto;
    }
    .text-color a {
        color: #ff6a00!important;
    }
   .input-group .form-control{
        padding-top:0px!important;
        margin-top:0px!important;
    }

</style>

          @if (identity.IsAdmin || identity.IsHRM)
{<div class="row">
<div  class="col-sm-12 col-md-12" >
 <div class="input-group   col-lg-8  col-md-8  col-sm-8 col-xs-12 text-color" style="">
<a class="input-group-addon btn btn-primary hidden-xs" data-pager-action='first' id="first"><i class="fa fa-angle-left"></i> First11</a>
<a class="input-group-addon btn btn-primary" data-pager-action='previous' id="precode"><i class="fa fa-angle-double-left"></i> Previous</a>
       @Html.SimpleDropDownFor(model => model.Code, "/Config/DropDown/EmployeeCodeName", new {  @class = "form-control selectDropdown empId" })
<input type="text" placeholder="Code" class="form-control" data-pager-action='pagenum'  id="empId"> 
<a class="input-group-addon btn btn-primary" data-pager-action='next' id="current"><i class="fa fa-search"></i> </a>
<a class="input-group-addon btn btn-primary" data-pager-action='next'  id="nextcode"><i class="fa  fa-angle-double-right"></i> Next</a>
<a class="input-group-addon btn btn-primary hidden-xs" data-pager-action='last' id="last"><i class="fa  fa-angle-right"></i> Last</a>
</div>
</div>
</div>
}
<div id="detailsDiv">
</div>
<script>
    $(document).ready(function () {
        $('#empId').autocomplete({ source: '@Url.Action("EmployeeCode", "Autocomplete", new { area = "Config" })', minLength: 2 });
        $.get('@Url.Action("singleEmployee","SingleEmployee", new { empId = Model.Id } )', function (data) {
            $('#detailsDiv').html(data);
        });
        $(".nav-pills a").click(function () {
            $(this).tab('show');
        });
        var s = $("#myTab").load($('li.active a[data-toggle="tab"]').attr('href'));
      $("ul.nav-pills > li > a").on("shown.bs.tab", function (e) {
          var id = $(e.target).attr("href").substr(1);
          window.location.hash = id;
      });
        // on load of the page: switch to the currently selected tab
      var hash = window.location.hash;
      $('#myTab a[href="' + hash + '"]').tab('show');
      $('a[data-toggle="tab"]').on('shown', function () {
          //save the latest tab; use cookies if you like 'em better:
          localStorage.setItem('lastTab', $(this).attr('href'));
      });

        //go to the latest tab, if it exists:
      var lastTab = localStorage.getItem('lastTab');
      if (lastTab) {
          $('a[href=' + lastTab + ']').tab('show');
      }
      else {
          // Set the first tab if cookie do not exist
          $('a[data-toggle="tab"]:first').tab('show');
      }
    });
   
</script>
  <script>

      $(function () {

          $('#current').click(function () {
              var empid = $('.selectDropdown  :selected').text();
              empid = empid.split('~')[0];
              var FiscalYearDetailId = $('#FiscalYearDetailId').val();
              $.get("/Payroll/SingleEmployee/singleEmployee?empcode=" + empid + '&btn=current&FiscalYearDetailId=' + FiscalYearDetailId,
                  function (data) {
                      //alert((data);
                      $('#detailsDiv').html(data);
                      
              });
              //this.href = "/Payroll/SingleEmployee/SingleEmployeeSalary?empcode=" + empid + '&btn=current';
          });
          $('#nextcode').click(function () {
              var empid = $('.selectDropdown  :selected').text();
              empid = empid.split('~')[0];
              var FiscalYearDetailId = $('#FiscalYearDetailId').val();
              $.get("/Payroll/SingleEmployee/singleEmployee?empcode=" + empid + '&btn=next&FiscalYearDetailId=' + FiscalYearDetailId, function (data) {
                  $('#detailsDiv').html(data);
              });
          });
          $('#precode').click(function () {
              var empid = $('.selectDropdown  :selected').text();
              empid = empid.split('~')[0];
              var FiscalYearDetailId = $('#FiscalYearDetailId').val();
              $.get("/Payroll/SingleEmployee/singleEmployee?empcode=" + empid + '&btn=previous&FiscalYearDetailId=' + FiscalYearDetailId, function (data) {
                  $('#detailsDiv').html(data);
              });
              //this.href = "/Payroll/SingleEmployee/SingleEmployeeSalary?empcode=" + empid + '&btn=previous';
              //search();
          });
          $('#first').click(function () {
              var FiscalYearDetailId = $('#FiscalYearDetailId').val();
              var empid = $('.selectDropdown  :selected').text();
              empid = empid.split('~')[0];
              $.get("/Payroll/SingleEmployee/singleEmployee?empcode=" + empid + '&btn=first&FiscalYearDetailId=' + FiscalYearDetailId, function (data) {
                  $('#detailsDiv').html(data);
              });
          });
          $('#last').click(function () {
              var empid = $('.selectDropdown  :selected').text();
              empid = empid.split('~')[0];
              var FiscalYearDetailId = $('#FiscalYearDetailId').val();
              $.get("/Payroll/SingleEmployee/singleEmployee?empcode=" + empid + '&btn=last&FiscalYearDetailId=' + FiscalYearDetailId, function (data) {
                  $('#detailsDiv').html(data);
              });
          });
      });

  </script>


