@model SymViewModel.GF.GFEmployeeProvisionVM
@using UIHelper.MVC

<div class="headrow">
    <button type="button" title="Add New PF Process" data-url="/GF/GFEmployeeProvision/Process" onclick="GoTo(this)" id="" class=" sym-btn-add ">&nbsp;New GF Process</button>

    <label class="pull-right">Fiscal Period</label>
</div>
<div class="thinbox">
    <div class="th_thinbox">
        <p class="thinHead">Fiscal Period List</p>
    </div>
    <p>
    </p>
    <table id="myDataTable" class="display">
        <thead>
            <tr>
               
                <th class="center">Action</th>
                <th class="center">Code</th>
                <th class="center">Project</th>
                <th class="center">Fiscal Period</th>
                <th class="center">ProvisionAmount</th>
                <th class="center">IncrementArrear</th>
                <th class="center">TotalProvisionAmount</th>
                <th class="center">Post Status</th>

            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <br />
</div>
<div class="headrow">
    <button type="button" title="Add New PF Process" data-url="/GF/GFEmployeeProvision/Process" onclick="GoTo(this)" id="" class=" sym-btn-add ">&nbsp;New GF Process</button>
</div>



<script language="javascript" type="text/javascript">
    $(function () {
        InitDateTimePickers();
        $.datepicker.regional[""].dateFormat = 'dd/M/y';
        $.datepicker.setDefaults($.datepicker.regional['']);
        var oTable = $('#myDataTable').dataTable({
            "bServerSide": true,
            "sAjaxSource": "/GF/GFEmployeeProvision/_indexFiscalPeriod?EmployeeId=@ViewBag.EmployeeId&fydid=@ViewBag.fydid",
            "bProcessing": true,    
            "aLengthMenu": tablelength(),
            "bJqueryUI": true,
            "bAutoWidth": false,
            "aoColumns": [
                            {
                                "sName": "Id",
                                "bSearchable": false,
                                "bSortable": false,
                                "sWidth": "08%",
                                "sClass": "center",
                                "fnRender": function (oObj) {
                                    //return '  <a title="Click on for Details" style="text-decoration:none;"    href=\"/PF/GFEmployeeProvision?fydid=' + oObj.aData[0] + '\"  class="sym-btn-detail-row"></a>'
                                    return '  <a title="Click on for Details" style="text-decoration:none;"    href=\"/GF/GFEmployeeProvision/index?gfHeaderId=' + oObj.aData[0] + '\"  class="sym-btn-detail-row"></a>'
                                        + '&nbsp; <a title="Click on for Post" data-url="/GF/GFEmployeeProvision/Post"  onclick=btnPostNew(this);  data-Id="' + oObj.aData[0] + "~" + oObj.aData[5]  + '\" class="sym-btn-post-row"></a>'

                                    //    + '&nbsp; <a id="lnkEdit1"  title="Click on for Report" style="text-decoration:none;"    href=\"/GF/GFEmployeeProvision/reportVeiw/' + oObj.aData[0] + '\" class=" lnkEdit sym-btn-report-row"></a>'
                                    //+ '&nbsp; <a title="Click on for Journal" target="_blank"  href="/GF/Journal/Create?JournalType=1' + '&TransactionForm=PFContribution' + '&TransactionId=' + oObj.aData[0] + '\" class="sym-btn-bank-row"></a>'
                                    //;
                                }
                            }
                            , { "sName": "Code", "sWidth": "10%" }
                            , { "sName": "ProjectName", "sWidth": "20%" }
                            , { "sName": "FiscalPeriod", "sWidth": "10%" }
                            , { "sName": "ProvisionAmount", "sWidth": "10%" }
                            , { "sName": "IncrementArrear", "sWidth": "10%" }
                            , { "sName": "TotalProvisionAmount", "sWidth": "10%" }
                            , { "sName": "Post", "sWidth": "08%" }
            ]
        });

    });

</script>

<script>
    
    function btnPostNew(sender) {

        var Id = $(sender).attr("data-Id").split('~')[0];
        var post = $(sender).attr("data-Id").split('~')[1];
        if (post == "Posted") {
            ShowResult("Fail", "Data Already Posted!");
            return true;
        }
        var getURL = "/GF/GFEmployeeProvision/Post" + "?" + "ids=" + Id;

        $.getJSON(getURL, function (vm) {

            if (vm.Post) {
                ShowResult("Fail", "Data Already Posted!");
                return true;
            }
            else {
                var url = $(sender).attr("data-url") + "?ids=" + Id + '~';
                var questionMSG = "Are you sure to Post Data!";
                singleOperation(questionMSG, url);
            }

        });

    }


</script>
