<div class="headrow">
    <button type="button" title="Index" data-url="/GF/GFEmployeeProvision/IndexFiscalPeriod" onclick="GoTo(this)" id="" class=" sym-btn-detail btn-green ">&nbsp;Index</button>
        <button type="button" title="Add New GF Employee Provision" data-url="/GF/GFEmployeeProvision/Process" onclick="GoTo(this)" id="" class=" sym-btn-add ">&nbsp;New</button>
    <button type="button" title="Click to view GL Transaction Report" onclick="window.open('/GF/GFEmployeeProvision/GFEmployeeProvisionsReport?id=@ViewBag.gfHeaderId')" id="" class=" sym-btn-report ">&nbsp;Report</button>
    <button type="button" title="Click to view GL Transaction Report" onclick="window.open('/GF/GFEmployeeProvision/GFEmployeeProvisionsDownload?id=@ViewBag.gfHeaderId')" id="" class=" sym-btn-Excel-Export">&nbsp;Download</button>
    <button type="button" title="Click to view GL Transaction Report" onclick="window.open('/GF/GFEmployeeProvision/GFEmployersProvisionsReport?id=@ViewBag.gfHeaderId')" id="" class=" sym-btn-report">&nbsp;Report(Summary)</button>


    <label class="pull-right">GF Employee Provision </label>
</div>
<div class="thinbox">
    <div class="th_thinbox">
        <p>GF Employee Provision List</p>
    </div>
    <table id="myDataTable" class="display">
        <thead>
            <tr>
                
                <th>Code</th>
                <th>Name</th>
                <th>Designation</th>
                <th>Department</th>
                <th>ProvisionAmount</th>
                <th>IncrementArrear</th>
                <th>TotalProvisionAmount</th>

            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <br />
</div>
<div class="headrow">
        <button type="button" title="Add New GF Employee Provision" data-url="/GF/GFEmployeeProvision/Process" onclick="GoTo(this)" id="" class=" sym-btn-add ">&nbsp;New</button>
</div>
<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        SelectAllForDelete();
        $.datepicker.regional[""].dateFormat = 'dd/M/y';
        $.datepicker.setDefaults($.datepicker.regional['']);
        var oTable = $('#myDataTable').dataTable({
            "bServerSide": true,
            "sAjaxSource": "/GF/GFEmployeeProvision/_index?gfHeaderId=@ViewBag.gfHeaderId",
            "bProcessing": true,
            "aLengthMenu": tablelength(),
            "bJqueryUI": true,
            "bAutoWidth": false,
            "aoColumns": [
                            //{
                            //    "sName": "Id",
                            //    "bSearchable": false,
                            //    "bSortable": false,
                            //    "sWidth": "0%",
                            //    "sClass": "center",
                            //    "fnRender": function (oObj) {
                            //        return ''
                            //            //////+ '&nbsp; <a id=""  title="Click on for Edit" style="text-decoration:none;"    href=\"/GF/GFEmployeeProvision/Edit/' + oObj.aData[0] + '\" class=" innerListLink sym-btn-edit-row"></a>'
                            //            //////+ '&nbsp; <a title="Click on for Delete" style="text-decoration:none;" data-url="/GF/GFEmployeeProvision/Delete" onclick="deletedData(this, myDataTable,\'' + oObj.aData[0] + '\');"  class="sym-btn-remove-row"></a>'
                            //        ;
                            //    }
                            //},

                             { "sName": "Code", "sWidth": "10%" }
                            , { "sName": "EmpName", "sWidth": "15%" }
                            , { "sName": "Designation", "sWidth": "15%" }
                            , { "sName": "Department", "sWidth": "10%" }
                            , { "sName": "ProvisionAmount", "sWidth": "10%" }
                            , { "sName": "IncrementArrear", "sWidth": "10%" }
                            , { "sName": "TotalProvisionAmount", "sWidth": "10%" }
                            
                           

            ]
        });
    });
</script>
