@model SymViewModel.Payroll.JournalLedgerDetailVM
<style>

</style>
<div class="thinbox"> 
            <div class="th_thinbox">
    </div>
    <p>
    </p>
                    <div  id="container">
                <table id="myDataTable" class="display">
                    <thead>
                        <tr>
                            <th>PeriodName       </th>
                            <th>GLCode           </th>
                            <th>AccDescription   </th>
                            <th style="text-align:left!important">Debit</th>
                            <th style="text-align:left!important">Credit</th>
                            <th>TransactionDate  </th>
                            <th>BatchDesc        </th>
                            <th>JournalType      </th>
                            <th>SrceType         </th>
                            <th>Reference       </th>
                        </tr>
          
                      @*  
                        PeriodName       
                        GLCode           
                        AccDescription   
                        TransactionAmount
                        TransactionAmount
                        TransactionDate  
                        BatchDesc        
                        JournalType      
                        SrceType         
                        Reference       
                        *@ 
                    </thead>
                        <tfoot style=" font-size:1.2em;">
    <tr >
      <td>&nbsp;</td>
      <td style="font-weight:bold!important;" >Total </td>
      <td>&nbsp;</td>
      <td style="font-weight:bold!important;" id="Drresult" class="right"></td>
      <td style="font-weight:bold!important;" id="Crresult" class="right"></td>
      @*<td style="font-weight:bold!important;" id="result" class="right">@ViewBag.EarningAmnt</td>*@
    </tr>
        
  </tfoot>
                    <tbody> 
                    </tbody>
                </table>
        </div>
    <br />
    
</div>

<script>
    $(function () {
        SelectAllForDelete();
        var oTable = $('#myDataTable').dataTable({
            "bServerSide": true,
            "sAjaxSource": "/Payroll/SalaryProcess/_sageIndex?TransactionDate=@Model.TransactionDate&FiscalYearDetailId=@Model.FiscalYearDetailId&DepartmentId=@Model.DepartmentId&htmlId=@Model.htmlId"
                +"&SectionId=@Model.SectionId&ProjectId=@Model.ProjectId&empcodes=@Model.empcodes&htmlId=@Model.htmlId",
                "bProcessing": true,
            
                "aLengthMenu": tablelength(),
                "bJqueryUI": true,
                "bAutoWidth": false,
                "sDom": 'T<"clear">lfrtip', //initialize tableTools 
            //"sDom": 'TC<"clear">lfrtip',    // enable colvis

                "tableTools": {
                    "sSwfPath": "/assets/swf/copy_csv_xls_pdf.swf",  // set swf path
                    "sRowSelect": "multi",
                    "aButtons": [
                        "select_all",
                        "select_none",
                        {
                            "sExtends": "collection",
                            "sButtonText": "Export",
                            "aButtons": ["copy", "csv", "xls", "pdf", "print"]
                        }
                    ]
                },
                "aoColumns": [
                                { "sName": "PeriodName  ", "sWidth": "8%" }
                                , { "sName": "GLCode", "sWidth": "8%" }
                                , { "sName": "AccDescription", "sWidth": "8%" }
                                , { "sName": "TransactionAmount", "sClass": "DrAmount right", "sWidth": "8%" }
                                , { "sName": "TransactionAmount", "sClass": "CrAmount right", "sWidth": "8%" }

                                , { "sName": "TransactionDate", "sWidth": "8%" }
                                , { "sName": "BatchDesc", "sWidth": "8%" }
                                , { "sName": "JournalType", "sWidth": "8%" }
                                , { "sName": "SrceType", "sWidth": "8%" }
                                , { "sName": "Reference", "sWidth": "8%" }
                ]

       
        });
        calculateSum();
        });
       


   

    function calculateSum() {
    var sum = 0;
        // iterate through each td based on class and add the values

    setTimeout(function () {
        $(".DrAmount").each(function () {
            var value = $(this).text();
            // add only if the value is number
            if (!isNaN(value) && value.length != 0) {
                sum += parseFloat(value);
            }
        });
        $('#Drresult').text(sum);
        sum = 0;
        $(".CrAmount").each(function () {
            var value = $(this).text();
            // add only if the value is number
            if (!isNaN(value) && value.length != 0) {
                sum += parseFloat(value);
            }
        });
        $('#Crresult').text(sum);
    }, 500); 
}

</script>

