<div class="headrow">
    <label class="pull-right">Loan Type</label>
</div>
<div class="thinbox">
    <div class="th_thinbox">
        <p>Loan Type List</p>
    </div>
    <p></p>
    <div class="row">
        <div id="container">
            <div id="demo">
                <table id="myDataTable4" class="display">
                    <thead>
                        <tr>
                            <th class="center">Action</th>
                            <th>Name</th>
                            <th>GL Account</th>
                            <th>Active/Inactive</th>
                            <th class="center">Action</th>
                        </tr>
                        <tr>
                            <th class="center">Action</th>
                            <th>Name</th>
                            <th>GL Account</th>
                            <th>Active/Inactive</th>
                            <th class="center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="headrow">
</div>
<script>
    $(document).ready(function () {
        //fy();
        var oTable = $('#myDataTable4').dataTable({
            "bServerSide": true,
            "sAjaxSource": "/Payroll/EnumLoanType/_index",
            "bProcessing": true,
            "aLengthMenu": tablelength(),
            "bJqueryUI": true,
            "bAutoWidth": false,
            "aoColumns": [
                {
                    "sName": "Id",
                    "bSearchable": false,
                    "bSortable": false,
                    "sWidth": "12%",
                    "sClass":"center",
                    "fnRender": function (oObj) {
                        return '<a title="Click on for Edit" style="text-decoration:none;"  href=\"/Payroll/EnumLoanType/Edit/' + oObj.aData[0] + '\" id="lnkEdit1"  class=" lnkEdit sym-btn-edit-row"></a>'
                        //+
                        //'&nbsp; <a title="Click on for Delete" style="text-decoration:none;" data-url="/Payroll/EnumLoanType/Delete" onclick="deletedData(this, myDataTable,\'' + oObj.aData[0] + '\');"  class="sym-btn-remove-row"></a>'
                        ;
                    }
                }
                , { "sName": "Name" }
                , { "sName": "GLAccountCode" }
            //,{
            //    "sName": "GLAccountCode",
            //    "bSearchable": false,
            //    "bSortable": false,
            //    "sWidth": "12%",
            //    "sClass": "center",
            //    "fnRender": function (oObj) {
            //        return '<select class="glac">  </select> ';
            //        //return '<select class="glac" data-val="' + oObj.aData[2] + '" onchange="fy()"  >  <select> ';
            //        //return '<select class="glac"  >  <option value="volvo">Volvo</option> <option value="saab">Saab</option><select> ';
            //        //return ' <input type="text" class="glac" value="' + oObj.aData[2] + '">';
            //    }
            //}
                              , { "sName": "Active" },
                              {
                                  "sName": "Id",
                                  "bSearchable": false,
                                  "bSortable": false,
                                  "sWidth": "12%",
                                  "sClass": "center",
                                  "fnRender": function (oObj) {
                                      //return '<a title="Click on for Edit" style="text-decoration:none;"  class=" lnkEdit sym-btn-edit-row" href=\"/Payroll/EnumLoanType/EditGLAccount/' + oObj.aData[4] + '\"></a>'
                                      return '<a title="Click on for Edit" style="text-decoration:none;" onclick="UpdateLoan(this,\'' + oObj.aData[4] + '\')" class="sym-btn-edit-row"></a>';
                                  }
                              }
            ]
        });
        oTable.columnFilter({
            sPlaceHolder: "head:after",
            aoColumns: [
                     null
                       ,{ type: "text" }
                       , { type: "text" }
                       , { type: "select", values: ["Active", "Inactive"] }
                       ,null
            ]
        });
        SelectAllForDelete();
    });
    //var fy = function () {
    //    $('select.glac').html("");
    //    var GLAccountCode = "";
    //    //var e = $("select.glac").attr('value');
    //    //var e = $('.glac').closest('select').attr('data-val');
    //    //var us = e.options[e.selectedIndex].value;
    //   //alert(e);
    //    //alert(strUserTxt + 'strUserTxt')
    //    alert('test');
    //    var url = "/Config/DropDown/GLAccount";
    //    $.getJSON(url, function (data) {
    //        $.each(data, function (i, state) {
    //            GLAccountCode += "<option value='" + state.Value + "'>" + state.Text + "</option>";
    //        });
    //        $('select.glac').html(GLAccountCode);
    //    });
    //}
</script>
