@model SymViewModel.HRM.EmployeeInfoVM
@using (Html.BeginForm("ChangePassword", "EmployeeInfo", FormMethod.Post, new { enctype = "multipart/form-data", @Id = "frmUser" }))
{
    @Html.ValidationSummary(true)
    <div class="thinbox">
        <div class="th_thinbox">
            <p>Password Change</p>   
        </div>
        <div class="row">
                <div class="col-md-3">
                    <div class="editor-label">
                        <label>Old Password</label>
                    </div>
                    <div class="editor-field">
                       <input type="password" id="OldPassword" name="OldPassword" class="OldPassword required form-control" />
                       <input type="hidden" id="employeeId" name="employeeId" value="@Model.Id" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="editor-label">
                        <label>New Password</label>
                    </div>
                    <div class="editor-field">
                       <input type="password" id="Password" name="Password" class="password required form-control" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="editor-label">
                        <label>Confirm Password</label>
                    </div>
                    <div class="editor-field">
                       <input type="password" id="Passwordb" name="Passwordb" class="password required form-control" />
                    </div>
                </div>
                </div>
                </div>
        <p>
 @*          <input type="button" onclick="CreateUser();" value="Save" class="Save btn btn-info" />*@
        
        </p>
    <div class="headrow">
         <button type="button" title="Click to Save"  onclick="CreateUser();" class="Save sym-btn-save">&nbsp;Save</button>
    </div>
}
<script>

    $(function () {
        valiDation("frmUser");
    })
    function CreateUser() {
        if ($("#Password").val() != $("#Passwordb").val()) {
                ShowResult("Fail", "Password are not matched!");
                return
            }
        if ($("#Password").val() == "" || $("#Password").val() == "") {
                ShowResult("Fail", "Please set password!");
                return
        }
        if ($("#OldPassword").val() == "" ) {
            ShowResult("Fail", "Please insert old password!");
            return
        }
        
                pageSubmit('frmUser');
        }
    var leftMenuActive = "ChangePassword";
</script>
