@model SymViewModel.HRM.EmployeeInfoVM

<div class="thinbox"> 
            <div class="th_thinbox">
    </div>
    <p>
    </p>
                    <div  id="container">
                <table id="myDataTable" class="display">
                    <thead>
                        <tr>
                              <th class="center"><input type="checkbox" class="chkAll" />Select All</th>
                            <th>Code</th>
                            <th>Name</th>
                            <th>Designation</th>
                            <th>@Session["DepartmentLabel"]</th>
                            <th>@Session["ProjectLabel"]</th>
                            <th>@Session["ProjectLabel"]</th>
                            <th style="text-align:left!important">Basic</th>
                            <th style="text-align:left!important">Gross</th>
                            <th style="text-align:left!important">After Increament</th>
                       
                        </tr>
                    </thead>
                    <tbody> 
                    </tbody>
                </table>
        </div>
    <br />
</div>
<script>
    $(function () {
        SelectAllForDelete();
@*        var resultColumns = [];
       var sAjaxSource= "/Payroll/EmployeeSalaryIncrement/_rptIndex?DepartmentId=@Model.DepartmentId&SectionId=@Model.SectionId&ProjectId=@Model.ProjectId&DesignationId=@Model.DesignationId&CodeF=@Model.CodeF&CodeT=@Model.CodeT&GB=@Model.GB&FR=@Model.FR&Amount=@Model.Amount";
        $.getJSON(sAjaxSource, function (result) {
            $.each(result.Columns, function (i, value) {
                var obj = { sTitle: value };
                resultColumns.push(obj);
            });
        });*@
        var oTable = $('#myDataTable').dataTable({
            "bServerSide": true,
            "sAjaxSource": "/Payroll/EmployeeSalaryIncrement/_rptIndex?DepartmentId=@Model.DepartmentId&SectionId=@Model.SectionId&ProjectId=@Model.ProjectId&DesignationId=@Model.DesignationId&CodeF=@Model.CodeF&CodeT=@Model.CodeT&GB=@Model.GB&FR=@Model.FR&Amount=@Model.Amount",
                "bProcessing": true,
                "aLengthMenu": tablelength(),
                "bJqueryUI": true,
                "bAutoWidth": false,
                "aoColumns": [{
                                     "sName": "Id",
                                     "bSearchable": false,
                                     "bSortable": false,
                                     "sWidth": "6%",
                                     "sClass": "center",
                                     "fnRender": function (oObj) {
                                         return ' <input onclick="CheckAll(this)" type="checkbox" data-Id="' + oObj.aData[0] + '">';
                                     }}
                               , { "sName": "Code", "sWidth": "6%" }
                                , { "sName": "EmpName",  "sWidth": "14%" }
                                , { "sName": "Designation",  "sWidth": "10%" }
                                , { "sName": "Department", "sWidth": "10%" }
                                , { "sName": "Section",  "sWidth": "10%" }
                                , { "sName": "Project", "sWidth": "10%" }
                                , { "sName": "BasicSalary", "sClass": "right", "sWidth": "8%" }
                                , { "sName": "GrossSalary", "sClass": "right", "sWidth": "8%" }
                                , { "sName": "After Increament", "sClass": "right", "sWidth": "8%" }
                                
                ]
            });
        });
       
</script>