@model SymViewModel.HRM.EmployeeInfoVM
@using SymOrdinary
@using System.Threading;
@{ 
    ShampanIdentity identity = null;
    try
    {
        identity = (ShampanIdentity)Thread.CurrentPrincipal.Identity;
    }
    catch (Exception)
    {
        Response.Redirect("/Home/Index");
        return;
    }
}

@{
    ViewBag.Title = "Index";
    Layout = null;
}
    <div class="thinbox">
        <div class="th_thinbox">
        <p>Employee Leave</p>   
        </div>
<p></p>
 
    <table id="myDataTable10" class="display">
        <thead>
            <tr>
                <th class="center">Action</th>
                <th>Code</th>
                <th>Employee Name</th>
                <th>Leave Type</th>
                <th>From Date</th>
                <th>To Date</th>
                <th>Day Type</th>
                <th>Approved / Not Approved</th>
            </tr>
            <tr>
                <th class="center">Action</th>
                <th>Code</th>
                <th>Employee Name</th>
                <th>Leave Type</th>
                <th>From Date</th>
                <th>To Date</th>
                <th>Day Type</th>
                <th>Approved / Not Approved</th>
               
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
        <br />
</div>
<script>
    $(function () {
        setTimeout(function () { $(".selectDropdown").val('@Model.Code').trigger('change'); }, 300);
        $.datepicker.regional[""].dateFormat = 'dd/M/y';
        $.datepicker.setDefaults($.datepicker.regional['']);
        var daytype = "";
        var oTable = $('#myDataTable10').dataTable({
            "bServerSide": true,
            "sAjaxSource": "/HRM/EmployeeLeaveSchedule/_indexByEmployeeId/?empId=" +'@Model.Id',
            "bProcessing": true,
            "aLengthMenu": tablelength(),
            "bJqueryUI": true,
            "bAutoWidth": false,
            "aoColumns": [
                {
                    "sName": "Id",
                    "bSearchable": false,
                    "bSortable": false,
                    "sWidth": "20%",
                    "sClass":"center",
                    "fnRender": function (oObj) {
                      
                           
                        return '<a title="Click for Report" target="_blank"   class="sym-btn-report-row" href=\"/HRM/EmployeeReport/LAF/?LId=' + oObj.aData[0].split('~')[2]+ '&Statement=y' + '&ReportNo=4' + '\"></a>'
                            ;
                       
                    }
                }
                  , { "sName": "EmpCode", "sWidth": "8%" }
                  , { "sName": "EmpName", "sWidth": "12%" }
                  , { "sName": "LeaveType_E", "sWidth": "8%" }
                  , { "sName": "FromDate", "sWidth": "18%" }
                  , { "sName": "ToDate", "sWidth": "18%" }
                  , { "sName": "DayType", "sWidth": "8%" }
                  , { "sName": "Approval", "sWidth": "10%" }
            ]
        });
        oTable.columnFilter({
            sPlaceHolder: "head:after",
            aoColumns: [
                          null
                        , { type: "text" }
                        , { type: "text" }
                        , { type: "text" }
                        , { type: "date-range" }
                        , { type: "date-range" }
                        , { type: "text" }
                         //{ type: "select", values: daytype },
                           , { type: "select", values: ["Approved", "Not Approved"] }
            ]
        });
        $(".number_filter").addClass("customDatePicker");
    });
 
</script>