         
<div>
    <div id="myPortion">
    </div> 
@*    <input type="button" id="btnDialog" class="btn btn-primary" value="New" />*@
        <button type="button" title="Add New"   id="btnDialog class="sym-btn-add ">&nbsp;New</button>
    <p></p>
</div>
        <div id="container">
            <div id="demo">
                <table id="myDataTable" class="display">
                    <thead>
                        <tr>
                            <th>Code</th>
                            <th>Name</th>
                            <th>Remarks</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody> 
                    </tbody>
                </table>
            </div>
        </div>
<script>
   
    $(document).ready(function () {

        var oTable = $('#myDataTable').dataTable({
            "bServerSide": true,
            "sAjaxSource": "/HRM/LeaveStructure/_index",
            "bProcessing": true,
            "aoColumns": [
                            { "sName": "Code" },
                            { "sName": "Name" },
                            { "sName": "Remarks" },
                            
                            {
                                "sName": "ID",
                                "bSearchable": false,
                                "bSortable": false,
                                "sWidth": "12%",
                                "sClass": "center",
                                "fnRender": function (oObj) {
                                    return '<input title="Edit Data"  type="button" Onclick="EditVal(this);" class="sym-btn-edit "  data-Id="' + oObj.aData[3] + '" value="Show"/>'
                                    ;
                                }
                            }
            ]
        });
    });

    $('#btnDialog').click(function () {
        // var code = 1;// $('#Id').val();
        $("#myPortion").load('@Url.Action("LeaveStructure", "LeaveStructure")' + '?Id=0');

  });
  function EditVal(sender) {
      var Id = $(sender).attr('data-Id');
      $("#myPortion").load('@Url.Action("LeaveStructure", "LeaveStructure")' + '?Id=' + Id);
     }
    </script>
